<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>_000_site_index_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._3_1_web_site_AccessServlets._000_site_index_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_001_site_login_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._3_1_web_site_AccessServlets._001_site_login_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_100_account_index_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._4_1_account_AccessServlets._100_account_index_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_001_site_login_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._6_1_Login._001_site_login_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_002_site_login_ControlServlet</servlet-name>
        <servlet-class>com.modern.www._6_1_Login._002_site_login_ControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_200_admin_admin_pages_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._5_1_admin_AccessServlets._200_admin_admin_pages_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_001_get_pages_tree_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_001_get_pages_tree_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_002_get_main_tabs_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_002_get_main_tabs_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_003_add_main_tabs_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_003_add_main_tabs_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_004_update_main_tabs_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_004_update_main_tabs_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_005_delete_main_Tabs_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_005_delete_main_Tabs_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_006_get_tabs_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_006_get_tabs_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_007_add_tabs_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_007_add_tabs_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_009_delete_Tabs_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_009_delete_Tabs_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_008_update_tabs_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_008_update_tabs_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_201_admin_student_pages_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._5_1_admin_AccessServlets._201_admin_student_pages_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_000_get_super_auth_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_000_get_super_auth_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_202_admin_site_pages_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._5_1_admin_AccessServlets._202_admin_site_pages_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_203_admin_all_system_pages_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._5_1_admin_AccessServlets._203_admin_all_system_pages_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_010_get_sub_tabs_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_010_get_sub_tabs_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_011_add_sub_tabs_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_011_add_sub_tabs_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_012_update_sub_tabs_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_012_update_sub_tabs_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_000_general_Ajax_013_delete_sub_Tabs_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._000_general_Ajax_013_delete_sub_Tabs_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_999_siter_logout_controlServlet</servlet-name>
        <servlet-class>com.modern.www._6_1_Login._999_siter_logout_controlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_204_general_pages_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._5_1_admin_AccessServlets._204_general_pages_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_998_teacher_profile_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._4_1_account_AccessServlets._998_teacher_profile_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_997_student_profile_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._4_1_account_AccessServlets._997_student_profile_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_996_admin_profile_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._4_1_account_AccessServlets._996_admin_profile_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_205_teacher_pages_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._5_1_admin_AccessServlets._205_teacher_pages_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_998_teacher_profile_001_update_teacher_profile_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._4_2_account_AjaxServlet._998_teacher_profile_001_update_teacher_profile_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_998_teacher_profile_000_get_teacher_by_id_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._4_2_account_AjaxServlet._998_teacher_profile_000_get_teacher_by_id_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_998_teacher_profile_002_get_teacher_profile_data_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._4_2_account_AjaxServlet._998_teacher_profile_002_get_teacher_profile_data_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_998_teacher_profile_003_get_teacher_courses_data_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._4_2_account_AjaxServlet._998_teacher_profile_003_get_teacher_courses_data_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_998_teacher_profile_004_change_teacher_password_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._4_2_account_AjaxServlet._998_teacher_profile_004_change_teacher_password_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_997_student_profile_000_get_student_by_id_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._4_2_account_AjaxServlet._997_student_profile_000_get_student_by_id_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_997_student_profile_003_get_student_courses_data_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._4_2_account_AjaxServlet._997_student_profile_003_get_student_courses_data_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_997_student_profile_002_get_student_profile_data_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._4_2_account_AjaxServlet._997_student_profile_002_get_student_profile_data_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_997_student_profile_001_update_student_profile_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._4_2_account_AjaxServlet._997_student_profile_001_update_student_profile_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_997_student_profile_004_change_student_password_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._4_2_account_AjaxServlet._997_student_profile_004_change_student_password_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_002_teaching_staff_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._3_1_web_site_AccessServlets._002_teaching_staff_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_206_teachers_basic_data_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._5_1_admin_AccessServlets._206_teachers_basic_data_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_206_teacher_profile_002_get_teacher_data_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._206_teacher_profile_002_get_teacher_data_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_003_Student_Events_News_AccessServlet</servlet-name>
        <servlet-class>com.modern.www._3_1_web_site_AccessServlets._003_Student_Events_News_AccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_206_teachers_basic_data_001_add_teacher_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._206_teachers_basic_data_001_add_teacher_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_206_teachers_basic_data_002_update_teachers_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._206_teachers_basic_data_002_update_teachers_AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>_206_teachers_basic_data_003_delete_teachers_AjaxServlet</servlet-name>
        <servlet-class>com.modern.www._5_2_admin_AjaxServlet._206_teachers_basic_data_003_delete_teachers_AjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>_000_site_index_AccessServlet</servlet-name>
        <url-pattern>/_000_site_index_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_001_site_login_AccessServlet</servlet-name>
        <url-pattern>/_001_site_login_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_100_account_index_AccessServlet</servlet-name>
        <url-pattern>/_100_account_index_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_001_site_login_AjaxServlet</servlet-name>
        <url-pattern>/_001_site_login_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_002_site_login_ControlServlet</servlet-name>
        <url-pattern>/_002_site_login_ControlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_200_admin_admin_pages_AccessServlet</servlet-name>
        <url-pattern>/_200_admin_admin_pages_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_001_get_pages_tree_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_001_get_pages_tree_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_002_get_main_tabs_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_002_get_main_tabs_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_003_add_main_tabs_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_003_add_main_tabs_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_004_update_main_tabs_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_004_update_main_tabs_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_005_delete_main_Tabs_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_005_delete_main_Tabs_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_006_get_tabs_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_006_get_tabs_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_007_add_tabs_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_007_add_tabs_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_009_delete_Tabs_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_009_delete_Tabs_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_008_update_tabs_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_008_update_tabs_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_201_admin_student_pages_AccessServlet</servlet-name>
        <url-pattern>/_201_admin_student_pages_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_000_get_super_auth_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_000_get_super_auth_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_202_admin_site_pages_AccessServlet</servlet-name>
        <url-pattern>/_202_admin_site_pages_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_203_admin_all_system_pages_AccessServlet</servlet-name>
        <url-pattern>/_203_admin_all_system_pages_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_010_get_sub_tabs_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_010_get_sub_tabs_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_011_add_sub_tabs_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_011_add_sub_tabs_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_012_update_sub_tabs_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_012_update_sub_tabs_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_000_general_Ajax_013_delete_sub_Tabs_AjaxServlet</servlet-name>
        <url-pattern>/_000_general_Ajax_013_delete_sub_Tabs_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_999_siter_logout_controlServlet</servlet-name>
        <url-pattern>/_999_siter_logout_controlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_204_general_pages_AccessServlet</servlet-name>
        <url-pattern>/_204_general_pages_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_998_teacher_profile_AccessServlet</servlet-name>
        <url-pattern>/_998_teacher_profile_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_997_student_profile_AccessServlet</servlet-name>
        <url-pattern>/_997_student_profile_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_996_admin_profile_AccessServlet</servlet-name>
        <url-pattern>/_996_admin_profile_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_205_teacher_pages_AccessServlet</servlet-name>
        <url-pattern>/_205_teacher_pages_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_998_teacher_profile_001_update_teacher_profile_AjaxServlet</servlet-name>
        <url-pattern>/_998_teacher_profile_001_update_teacher_profile_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_998_teacher_profile_000_get_teacher_by_id_AjaxServlet</servlet-name>
        <url-pattern>/_998_teacher_profile_000_get_teacher_by_id_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_998_teacher_profile_002_get_teacher_profile_data_AjaxServlet</servlet-name>
        <url-pattern>/_998_teacher_profile_002_get_teacher_profile_data_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_998_teacher_profile_003_get_teacher_courses_data_AjaxServlet</servlet-name>
        <url-pattern>/_998_teacher_profile_003_get_teacher_courses_data_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_998_teacher_profile_004_change_teacher_password_AjaxServlet</servlet-name>
        <url-pattern>/_998_teacher_profile_004_change_teacher_password_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_997_student_profile_000_get_student_by_id_AjaxServlet</servlet-name>
        <url-pattern>/_997_student_profile_000_get_student_by_id_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_997_student_profile_003_get_student_courses_data_AjaxServlet</servlet-name>
        <url-pattern>/_997_student_profile_003_get_student_courses_data_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_997_student_profile_002_get_student_profile_data_AjaxServlet</servlet-name>
        <url-pattern>/_997_student_profile_002_get_student_profile_data_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_997_student_profile_001_update_student_profile_AjaxServlet</servlet-name>
        <url-pattern>/_997_student_profile_001_update_student_profile_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_997_student_profile_004_change_student_password_AjaxServlet</servlet-name>
        <url-pattern>/_997_student_profile_004_change_student_password_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_002_teaching_staff_AccessServlet</servlet-name>
        <url-pattern>/_002_teaching_staff_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_206_teachers_basic_data_AccessServlet</servlet-name>
        <url-pattern>/_206_teachers_basic_data_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_206_teacher_profile_002_get_teacher_data_AjaxServlet</servlet-name>
        <url-pattern>/_206_teacher_profile_002_get_teacher_data_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_003_Student_Events_News_AccessServlet</servlet-name>
        <url-pattern>/_003_Student_Events_News_AccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_206_teachers_basic_data_001_add_teacher_AjaxServlet</servlet-name>
        <url-pattern>/_206_teachers_basic_data_001_add_teacher_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_206_teachers_basic_data_002_update_teachers_AjaxServlet</servlet-name>
        <url-pattern>/_206_teachers_basic_data_002_update_teachers_AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>_206_teachers_basic_data_003_delete_teachers_AjaxServlet</servlet-name>
        <url-pattern>/_206_teachers_basic_data_003_delete_teachers_AjaxServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>_000_site_index_AccessServlet</welcome-file>
    </welcome-file-list>
</web-app>
